:not([data-theme="dark"]) { /* Comment */ /* Error */ /* Keyword */ /* Operator */ /* Comment.Hashbang */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.PreprocFile */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Error */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Output */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Generic.Traceback */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Bin */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Affix */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Delimiter */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Function.Magic */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Name.Variable.Magic */ /* Literal.Number.Integer.Long */ }

:not([data-theme="dark"]) .highlight .hll { background-color: #ffffcc; }

:not([data-theme="dark"]) .highlight { background: #f8f8f8; }

:not([data-theme="dark"]) .highlight .c { color: #408080; font-style: italic; }

:not([data-theme="dark"]) .highlight .err { border: 1px solid #FF0000; }

:not([data-theme="dark"]) .highlight .k { color: #008000; font-weight: bold; }

:not([data-theme="dark"]) .highlight .o { color: #666666; }

:not([data-theme="dark"]) .highlight .ch { color: #408080; font-style: italic; }

:not([data-theme="dark"]) .highlight .cm { color: #408080; font-style: italic; }

:not([data-theme="dark"]) .highlight .cp { color: #BC7A00; }

:not([data-theme="dark"]) .highlight .cpf { color: #408080; font-style: italic; }

:not([data-theme="dark"]) .highlight .c1 { color: #408080; font-style: italic; }

:not([data-theme="dark"]) .highlight .cs { color: #408080; font-style: italic; }

:not([data-theme="dark"]) .highlight .gd { color: #A00000; }

:not([data-theme="dark"]) .highlight .ge { font-style: italic; }

:not([data-theme="dark"]) .highlight .gr { color: #FF0000; }

:not([data-theme="dark"]) .highlight .gh { color: #000080; font-weight: bold; }

:not([data-theme="dark"]) .highlight .gi { color: #00A000; }

:not([data-theme="dark"]) .highlight .go { color: #888888; }

:not([data-theme="dark"]) .highlight .gp { color: #000080; font-weight: bold; }

:not([data-theme="dark"]) .highlight .gs { font-weight: bold; }

:not([data-theme="dark"]) .highlight .gu { color: #800080; font-weight: bold; }

:not([data-theme="dark"]) .highlight .gt { color: #0044DD; }

:not([data-theme="dark"]) .highlight .kc { color: #008000; font-weight: bold; }

:not([data-theme="dark"]) .highlight .kd { color: #008000; font-weight: bold; }

:not([data-theme="dark"]) .highlight .kn { color: #008000; font-weight: bold; }

:not([data-theme="dark"]) .highlight .kp { color: #008000; }

:not([data-theme="dark"]) .highlight .kr { color: #008000; font-weight: bold; }

:not([data-theme="dark"]) .highlight .kt { color: #B00040; }

:not([data-theme="dark"]) .highlight .m { color: #666666; }

:not([data-theme="dark"]) .highlight .s { color: #BA2121; }

:not([data-theme="dark"]) .highlight .na { color: #7D9029; }

:not([data-theme="dark"]) .highlight .nb { color: #008000; }

:not([data-theme="dark"]) .highlight .nc { color: #0000FF; font-weight: bold; }

:not([data-theme="dark"]) .highlight .no { color: #880000; }

:not([data-theme="dark"]) .highlight .nd { color: #AA22FF; }

:not([data-theme="dark"]) .highlight .ni { color: #999999; font-weight: bold; }

:not([data-theme="dark"]) .highlight .ne { color: #D2413A; font-weight: bold; }

:not([data-theme="dark"]) .highlight .nf { color: #0000FF; }

:not([data-theme="dark"]) .highlight .nl { color: #A0A000; }

:not([data-theme="dark"]) .highlight .nn { color: #0000FF; font-weight: bold; }

:not([data-theme="dark"]) .highlight .nt { color: #008000; font-weight: bold; }

:not([data-theme="dark"]) .highlight .nv { color: #19177C; }

:not([data-theme="dark"]) .highlight .ow { color: #AA22FF; font-weight: bold; }

:not([data-theme="dark"]) .highlight .w { color: #bbbbbb; }

:not([data-theme="dark"]) .highlight .mb { color: #666666; }

:not([data-theme="dark"]) .highlight .mf { color: #666666; }

:not([data-theme="dark"]) .highlight .mh { color: #666666; }

:not([data-theme="dark"]) .highlight .mi { color: #666666; }

:not([data-theme="dark"]) .highlight .mo { color: #666666; }

:not([data-theme="dark"]) .highlight .sa { color: #BA2121; }

:not([data-theme="dark"]) .highlight .sb { color: #BA2121; }

:not([data-theme="dark"]) .highlight .sc { color: #BA2121; }

:not([data-theme="dark"]) .highlight .dl { color: #BA2121; }

:not([data-theme="dark"]) .highlight .sd { color: #BA2121; font-style: italic; }

:not([data-theme="dark"]) .highlight .s2 { color: #BA2121; }

:not([data-theme="dark"]) .highlight .se { color: #BB6622; font-weight: bold; }

:not([data-theme="dark"]) .highlight .sh { color: #BA2121; }

:not([data-theme="dark"]) .highlight .si { color: #BB6688; font-weight: bold; }

:not([data-theme="dark"]) .highlight .sx { color: #008000; }

:not([data-theme="dark"]) .highlight .sr { color: #BB6688; }

:not([data-theme="dark"]) .highlight .s1 { color: #BA2121; }

:not([data-theme="dark"]) .highlight .ss { color: #19177C; }

:not([data-theme="dark"]) .highlight .bp { color: #008000; }

:not([data-theme="dark"]) .highlight .fm { color: #0000FF; }

:not([data-theme="dark"]) .highlight .vc { color: #19177C; }

:not([data-theme="dark"]) .highlight .vg { color: #19177C; }

:not([data-theme="dark"]) .highlight .vi { color: #19177C; }

:not([data-theme="dark"]) .highlight .vm { color: #19177C; }

:not([data-theme="dark"]) .highlight .il { color: #666666; }

[data-theme="dark"] { /* Comment */ /* Error */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ }

[data-theme="dark"] .highlight, [data-theme="dark"] .highlight pre, [data-theme="dark"] .highlight table { background: #373b41; color: #555; border-radius: 4px; }

[data-theme="dark"] pre > code { color: #969896; }

[data-theme="dark"] .highlight .hll { background-color: #373b41; }

[data-theme="dark"] .highlight .c { color: #969896; }

[data-theme="dark"] .highlight .err { color: #cc6666; }

[data-theme="dark"] .highlight .k { color: #b294bb; }

[data-theme="dark"] .highlight .l { color: #de935f; }

[data-theme="dark"] .highlight .n, [data-theme="dark"] .highlight .h { color: #ffffff; }

[data-theme="dark"] .highlight .o { color: #8abeb7; }

[data-theme="dark"] .highlight .p { color: #ffffff; }

[data-theme="dark"] .highlight .cm { color: #969896; }

[data-theme="dark"] .highlight .cp { color: #969896; }

[data-theme="dark"] .highlight .c1 { color: #969896; }

[data-theme="dark"] .highlight .cs { color: #969896; }

[data-theme="dark"] .highlight .gd { color: #cc6666; }

[data-theme="dark"] .highlight .ge { font-style: italic; }

[data-theme="dark"] .highlight .gh { color: #ffffff; font-weight: bold; }

[data-theme="dark"] .highlight .gi { color: #b5bd68; }

[data-theme="dark"] .highlight .gp { color: #969896; font-weight: bold; }

[data-theme="dark"] .highlight .gs { font-weight: bold; }

[data-theme="dark"] .highlight .gu { color: #8abeb7; font-weight: bold; }

[data-theme="dark"] .highlight .kc { color: #b294bb; }

[data-theme="dark"] .highlight .kd { color: #b294bb; }

[data-theme="dark"] .highlight .kn { color: #8abeb7; }

[data-theme="dark"] .highlight .kp { color: #b294bb; }

[data-theme="dark"] .highlight .kr { color: #b294bb; }

[data-theme="dark"] .highlight .kt { color: #f0c674; }

[data-theme="dark"] .highlight .ld { color: #b5bd68; }

[data-theme="dark"] .highlight .m { color: #de935f; }

[data-theme="dark"] .highlight .s { color: #b5bd68; }

[data-theme="dark"] .highlight .na { color: #81a2be; }

[data-theme="dark"] .highlight .nb { color: #ffffff; }

[data-theme="dark"] .highlight .nc { color: #f0c674; }

[data-theme="dark"] .highlight .no { color: #cc6666; }

[data-theme="dark"] .highlight .nd { color: #8abeb7; }

[data-theme="dark"] .highlight .ni { color: #ffffff; }

[data-theme="dark"] .highlight .ne { color: #cc6666; }

[data-theme="dark"] .highlight .nf { color: #81a2be; }

[data-theme="dark"] .highlight .nl { color: #ffffff; }

[data-theme="dark"] .highlight .nn { color: #f0c674; }

[data-theme="dark"] .highlight .nx { color: #81a2be; }

[data-theme="dark"] .highlight .py { color: #ffffff; }

[data-theme="dark"] .highlight .nt { color: #8abeb7; }

[data-theme="dark"] .highlight .nv { color: #cc6666; }

[data-theme="dark"] .highlight .ow { color: #8abeb7; }

[data-theme="dark"] .highlight .w { color: #ffffff; }

[data-theme="dark"] .highlight .mf { color: #de935f; }

[data-theme="dark"] .highlight .mh { color: #de935f; }

[data-theme="dark"] .highlight .mi { color: #de935f; }

[data-theme="dark"] .highlight .mo { color: #de935f; }

[data-theme="dark"] .highlight .sb { color: #b5bd68; }

[data-theme="dark"] .highlight .sc { color: #ffffff; }

[data-theme="dark"] .highlight .sd { color: #969896; }

[data-theme="dark"] .highlight .s2 { color: #b5bd68; }

[data-theme="dark"] .highlight .se { color: #de935f; }

[data-theme="dark"] .highlight .sh { color: #b5bd68; }

[data-theme="dark"] .highlight .si { color: #de935f; }

[data-theme="dark"] .highlight .sx { color: #b5bd68; }

[data-theme="dark"] .highlight .sr { color: #b5bd68; }

[data-theme="dark"] .highlight .s1 { color: #b5bd68; }

[data-theme="dark"] .highlight .ss { color: #b5bd68; }

[data-theme="dark"] .highlight .bp { color: #ffffff; }

[data-theme="dark"] .highlight .vc { color: #cc6666; }

[data-theme="dark"] .highlight .vg { color: #cc6666; }

[data-theme="dark"] .highlight .vi { color: #cc6666; }

[data-theme="dark"] .highlight .il { color: #de935f; }

/*# sourceMappingURL=syntax.css.map */