<a href="{{page.next.url}}" class="{{extra_class}} w-100" rel="next" style="text-align: left;">
	{%- unless page.next == nil -%}
	<img src="/assets/images/arrow-left.svg" style="height: 1em;">Newer post<br>{{ page.next.title }}
	{%- endunless -%}
</a>
<a href="{{page.previous.url}}" class="{{extra_class}} w-100" rel="previous" style="text-align: right;">
	{%- unless page.previous == nil -%}
	Older post<img src="/assets/images/arrow-right.svg" style="height: 1em;"><br>{{ page.previous.title }}
	{%- endunless -%}
</a>
