---
---

// Variables
$small: 575px;
$medium: 767px;
$large: 991px;
$extra-large: 1199px;


a.disabled {
    pointer-events: none;
}

img.img-centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

// Post jumbotron
div.jumbotron.post {
	padding: 0;
	margin-bottom: 0.5em;
}

img.img-post {
	max-height: 6em;
}

// Text lists
ol {
	@media screen and (max-width: $small)  {
		padding: 1em;
	}

	ol {

		list-style-type: lower-roman;
		ol {
			list-style-type: lower-greek;
			ol {
				list-style-type: lower-latin;
			}
		}
	}
}

ol ol {
	@media screen and (max-width: $small) {
		padding-left: 1em;
		margin-left: -1em;
	}
}

.tag.mini-margin,.category.mini-margin {
	margin-left:  0.05rem;
	margin-right: 0.05rem;
}

.filter-color-inactive-link {
	filter: grayscale(50%);
	&:hover {
		filter: none;
	}
}
