---
---

// Variables
$small: 575px;
$medium: 767px;
$large: 991px;
$extra-large: 1199px;


a.disabled {
    pointer-events: none;
}

img.img-centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

pre.highlight {
	max-height: 30rem;
}

// Post jumbotron
div.jumbotron.post {
	padding: 0;
	margin-bottom: 0.5em;
}

img.img-post {
	max-height: 6em;
}

// Text lists
ol, ul {
	@media screen and (max-width: $small)  {
		padding-left: 1em;
	}
}

ol {
	ol {
		list-style-type: lower-roman;
		ol {
			list-style-type: lower-greek;
			ol {
				list-style-type: lower-latin;
			}
		}
	}
}

ol ol,ul ul {
	@media screen and (max-width: $small) {
		padding-left: 1em;
		margin-left: -1em;
	}
}

.tag.mini-margin,.category.mini-margin {
	margin-left:  0.05rem;
	margin-right: 0.05rem;
}

blockquote {
	font-size: 1em;
	font-style: italic;
	line-height: 1.8em;
	padding: 0 0.5em;
	min-height: 3em;
	max-width: 50em;
	background: #F2E7E0;
	border-left: 0.5em solid #ccc5c0;
	margin-left: 2em !important;

	@media screen and (max-width: $small) {
		margin-left: 0 !important;
	}

	// Blockquote is italic, so emphasis is "normal"
	em {
		font-style: normal;
	}

	// Create quote mark before first paragraph
	&:before {
		color: #555;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
		font-family: monospace;
	}

	p:first-child {
		display: inline;
	}
}

// Color special links on hover
a {
	&:hover {
		.filter-color-inactive-link	{
			opacity: 0;
		}

		.filter-color-active-link	{
			opacity: 1;
		}
	}

	> div.fade-image {
		position: relative;
		width: 2em;
		height: 2em;
		display: inline-block;
	}

	.filter-color-inactive-link, .filter-color-active-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s ease;
	}

	.filter-color-inactive-link {
		opacity: 1;
	}

	.filter-color-active-link {
		opacity: 0;
	}
}
