---
---

a.disabled {
    pointer-events: none;
}

.tag.mini-margin,.category.mini-margin {
	margin-left:  0.05rem;
	margin-right: 0.05rem;
}

.tag.active,.category.active {
	box-shadow: 0px 0px 0px 1px red;
}
