---
layout: shell
---

{% if page.image %}
<div class="jumbotron post">
	<img alt="Post image" class="img-post" src="{{page.image}}">
</div>
{% endif %}

<h1 class="display-8">
	{% if page.image == nil and page.thumbnail %}
	<img style="height: 1em;" alt="Post thumbnail" src="{{page.thumbnail}}">
	{% endif %}
	{{ page.title }}
</h1>
{% if page.summary %}
<p class="lead">{{ page.summary }}</p>
{% endif %}

<p class="lead">Published:    {{ page.date | date: "%F" }} <br/>
Last updated: {{ page.last-modified-date | date: "%F %R" }}</p>
<hr class="my-4">

<section>
	{{ content }}
</section>
<div class="container">
	<div class="d-flex justify-content-center btn-group">
		{% include previous_next_post_buttons.html %}
	</div>
</div>
<script src="/assets/js/post.js"></script>
