---
layout: shell
---


{% if page.image %}
<div class="jumbotron-post">
	<img alt="Post image" class="img-post" src="{{page.image}}">
	<img alt="Helper post image" class="img-post-helper" src="{{page.image}}">
</div>
{% endif %}

<h1 class="display-8">
	{% if page.image == nil and page.thumbnail %}
	<img style="height: 1em;" alt="Post thumbnail" src="{{page.thumbnail}}">
	{% endif %}
	{{ page.title }}
</h1>
{% if page.summary %}
<p class="lead">{{ page.summary }}</p>
{% endif %}

<p class="lead">Published:    {{ page.date | date: "%F" }} <br/>
Last updated: {{ page.git-last-modified-date | date: "%F %R" }}</p>

<div class="row no-gutters justify-content-center justify-content-md-start">
	{%- if page.draft -%}
		<div class="col-auto mr-2"><div class="badge badge-warning">DRAFT</div></div>
	{%- endif -%}
	{%- for tag in page.tags -%}
		<div class="col-auto"><div class="badge badge-dark tag mini-margin">{{tag}}</div></div>
	{%- endfor -%}
	{%- for category in page.categories -%}
		<div class="col-auto"><div class="badge badge-info category mini-margin">{{category}}</div></div>
	{%- endfor -%}
</div>

<hr class="my-4">

<div class="d-flex jumbotron-post-text w-100">
	{% include previous_next_post_buttons.html %}
</div>

<section class="my-4">
	{{ content }}
</section>
<script src="/assets/js/post.js"></script>
