---
layout: shell
---

<h1>{{ page.title }}</h1>
Published:    {{ page.date | date: "%F" }} <br>
Last updated: {{ page.last-modified-date | date: "%F %R" }}

<section>
    {{ content }}
</section>
<div class="container">
	<div class="d-flex justify-content-center btn-group">
		<a href="{{page.next.url}}"><label rel="next" class="btn btn-secondary {% if page.next == nil %}disabled{% endif %}">Newer post</label></a>
		<a href="{{page.previous.url}}"><label rel="previous" class="btn btn-secondary {% if page.previous == nil %}disabled{% endif %}">Older post</label></a>
	</div>
</div>
