<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/default.css">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body class="d-flex flex-column min-vh-100">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="navbar-brand">Emaus</div>
			<div class="" id="navbarNav">
				<ul class="navbar-nav">
					<a class="nav-link" href="/">Home</a>
					<a class="nav-link" href="/posts/">Posts</a>
				</ul>
			</div>
		</nav>
    </body>
	<div class="container-fluid">
		{% include anchor_headings.html anchorBody="#" beforeHeading=true html=content %}
	</div>
	<!-- Make sure that footer is at bottom of page -->
	<div class="wrapper flex-grow-1"></div>
    <footer>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="navbar-brand">&copy; {{site.time | date: "%Y" }} Erasmus Cedernaes</div>
			<a class="nav-link" href="/atom.xml">⚛ atom feed</a>
		</nav>
		<script>
			for (h of document.getElementsByClassName("nav-link")) {
				if (new URL(h.href).pathname == "{{ page.url }}") {
					h.classList.add("active");
				}
			}
		</script>
    </footer>
</html>
