name: Build and deploy site to Github Pages

on:
  push:
    branches: [ gh-pages-deploy ]

env:
    BUILD_DIR: .build

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Cache bundler dependencies
      uses: actions/cache@v1
      id: gems
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Install bundler
      run: |
        gem install bundler
        bundle config path vendor/bundle
    - name: Install bundler dependencies
      if: steps.gems.outputs.cache-hit != 'true'
      run: |
        bundle install --jobs 4 --retry 3
    - name: Build site
      run: |
        make gh-pages
    - name: 
      run: |
        cd ${BUILD_DIR}
        git init
        git config --local user.name "Github action builder"
        git config --local user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git add .
        git commit -m "Built site fom commit $GITHUB_SHA"
        # Set upstream to push to
        git remote add github https://github.com/${GITHUB_REPOSITORY}.git
        git fetch --all
        git branch -u github/master
    - name: Push to master
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: master
        force: true
        directory: ${BUILD_DIR}
